BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements: false
BreakBeforeBraces: Attach
ColumnLimit: 0
